/* Behavior of the scroll to be as fluid as possible */
html {
    scroll-behavior: auto;
}

body {
    color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}
